.chat-detail-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #4C4843;
}

.vertical-line {
    color: #4C4843;
}

.last-time-span {
    padding-left: 6px;
    color: #CCC5B9;
    font-weight: 300;
    font-size: 0.8rem;
}

.profile-img-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}



.profile-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uid-span {
    margin-left: 16px;
    white-space: nowrap;
    padding-right: 6px;
}

.actions-container {
    display: flex;
    gap: 12px;
    margin-left: 16px;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}


.messages-list-container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 16px;
}

.new-message-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #4C4843;
    padding: 12px;
}


@media (max-width: 768px) {

    .profile-container {
        flex-wrap: wrap;
        gap: 6px;
        align-items: center;
    }

    .name-span {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4px;
    }

    .last-time-span {
        padding-left: 0;
        font-size: 0.75rem;
        opacity: 0.8;
    }

    .uid-span {
        display: none !important;
    }
}