html, body{
    margin: 0;
    padding: 0;
}

body {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #FFFCF2;
}

button {
  background-color: #BA5027;;
  color: #FFFCF2;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Cascadia Code", sans-serif;

}

button:hover {
  background-color: #EB5E28;
    font-size: 14.25px;
}

input::placeholder{
  font-family: "Cascadia Code", sans-serif;
}